# Nx
.nx/

# IntelliJ
.idea/
**/.project
**/.settings
**/.classpath

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

dist/

# Node
node_modules
docs
coverage
.direnv
result
